
body:hover {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}
section, header, footer, aside {
    border: 3px solid #333;
}
.header {
    grid-area: h1;
}
.box1 {
    grid-area: b1;
}
.box2 {
    grid-area: b2;
}
.box3 {
    grid-area: b3;
}
.content {
    grid-area: con;
}
.sidebar {
    grid-area: side;
}
.footer {
    grid-area: foot;
}

/* Mobile device */
    .container {
        display: grid;
        width: 90%;
        margin: 20px auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, minmax(200px, 1fr));
        grid-gap: 2% 2%;
        grid-template-areas:
        "h1"
        "b1"
        "b2"
        "b3"
        "con"
        "side"
        "foot"
        "foot"
        "foot"
        "foot"
        ;
    }
    .footer {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }
    .footer > div {
        border: 1px solid black;
        margin: 5px;
    }
/* ------- || ------- */
/* Table device */
@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, minmax(200px, 1fr));
        grid-template-areas:
        "h1 h1 h1 h1 h1 h1"
        "b1 b1 b2 b2 b3 b3"
        "con con con side side side"
        "foot foot foot foot foot foot"
        "foot foot foot foot foot foot"
        ;
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
/* --------- || --------- */
/* Small desktop screens */
 @media screen and (min-width: 960px){
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, minmax(200px, 1fr));
        grid-template-areas:
        "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
        "b1 b1 b1 b2 b2 b2 b2 b2 b2 b3 b3 b3"
        "con con con con con con con con side side side side"
        "foot foot foot foot foot foot foot foot foot foot foot foot"
        ;
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
} 

/* Wide desktop screens */
@media screen and (min-width: 1200px){
.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-areas:
    "h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1"
    "b1 b1 b2 b2 b2 b2 b2 b2 b2 b2 b3 b3"
    "con con con con con con con con con side side side"
    "foot foot foot foot foot foot foot foot foot foot foot foot"
    ;
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}